# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Add the .idea folder to .gitignore
.idea/

# Data Eng Ordner soll komplett ignoriert werden
DataEng/
stundenplan-backend-main/
stundenplan-frontend-main/
stundenplan-dozent-main/
tutorial.mp4
# Node modules
node_modules/

# Log files
*.log

# Environment variable files
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Python specific
__pycache__/
*.py[cod]
*.so

# Java specific
*.class
*.jar
*.war
*.ear

# Maven specific
target/

# IntelliJ IDEA specific
*.iml


# macOS specific
*.DS_Store
