<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/analysen.js') }}" defer></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<header class="banner">
    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
    <img src="{{ url_for('static', filename='img/logo.jpg') }}" class="logo">
</header>

<aside class="sidebar">
    <ul>
        <li><a href="{{ url_for('home.home') }}" class="home-link">Startseite</a></li>
        <li>
            <a href="#">Analysen</a>
            <ul>
                <li><a href="#" onclick="loadContentForArea('{{ url_for('analysen.analyse_timeslots') }}', 'content-area')">Zeitslots</a></li>
                <li><a href="#" onclick="loadContentForArea_Employees('{{ url_for('analysen.employee_preferences_clustering') }}', 'content-area')">Dozenten</a></li>
            </ul>
        </li>
    </ul>
</aside>

<main id="content-area" class="content">
    <h1 class="title">{{ page_title }}</h1>
    <!-- Ranking Area -->
    <section class="ranking-area" style="display: none;">

    </section>

    <section class="graphics-area" style="display: none;">

        <!-- Bildbereich -->
        <div class="image-area">
        </div>
    </section>

</main>
</body>
</html>