.timeslot-dialog-textfields {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.timeslot-dialog-text {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.timeslot-dialog-text-middle-divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.timeslot-dialog-context-title {
  display: flex;
  justify-content: space-evenly;
}
