* {
  outline: 0px solid black;
}

.lecture-detail-view {
  display: flex;
  flex-direction: column;
}

.lecture-detail-view .lecture-detail-view__text-field:nth-of-type(even) {
  margin-left: 1rem;
}

.lecture-detail-view .lecture-detail-view__text-field {
  padding-bottom: 1rem;
  width: 100%;
}

.TextfieldIdentifier {
  margin-top: 1rem;
}

.TextfieldAbbreviation {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.TextfieldSeats {
  margin-top: 1rem;
}

.TextfielDisplayIndex {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.RadioAktiv {
  margin-top: 1rem;
}

.DropdownRoomType {
  margin-top: 1rem;
  width: 12.5rem;
}

.RadioDepiction {
  margin-top: 1rem;
}

.ButtonsSaveCancel {
  margin-top: 1rem;
}
