.RadioActiv {
  margin-top: 1rem !important;
}

.TableCell {
  border-style: solid !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.TableRow {
  border-style: solid !important;
  border-color: var(--xsoft-blue) !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.ButtonsSaveCancel {
  margin-top: 1rem !important;
  justify-content: right !important;
}

.single-view-employee {
  display: flex;
  flex-direction: column;
}

.single-view-employee .single-view-employee__text-field:nth-of-type(even) {
  margin-left: 1rem;
}

.single-view-employee .single-view-employee__text-field {
  padding-bottom: 1rem;
  width: 100%;
}

.single-view-employee__form-row-width {
  width: 100%;
}
