* {
  outline: 0px solid black;
}

.timetable-detail-view {
  display: flex;
  flex-direction: column;
}

.timetable-detail-view .timetable-detail-view__text-field:nth-of-type(even) {
  margin-left: 1rem;
}

.timetable-detail-view .timetable-detail-view__text-field {
  padding-bottom: 1rem;
  width: 100%;
}
