* {
  outline: 0px solid black;
}

.single-view-room {
  display: flex;
  flex-direction: column;
}

.single-view-room .single-view-room__text-field:nth-of-type(even) {
  margin-left: 1rem;
}

.single-view-room .single-view-room__text-field {
  padding-bottom: 1rem;
  width: 100%;
}

.single-view-room__form-row-widht {
  width: 100%;
}

.TextfieldIdentifier {
  margin-top: 1rem;
}

.TextfieldAbbreviation {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.TextfieldSeats {
  margin-top: 1rem;
}

.TextfielDisplayIndex {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.RadioAktiv {
  margin-top: 1rem;
}

.DropdownRoomType {
  margin-top: 1rem;
  width: 12.5rem;
}

.single-view-room__status-margin-top {
  margin-top: 1rem;
}

.DropdownEquipment {
  margin-top: 1rem;
  width: 100%;
}

.RadioDepiction {
  margin-top: 1rem;
}

.ButtonsSaveCancel {
  margin-top: 1rem;
}
